@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import '_variable';
@import '_mixin';

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: $BACKCOLOR;
  color: $WHITE;
}

main {
  .conf-name {
    width: 100vw;
    margin: 0 auto;
    text-align: center;

    @include pc {
      h1 {
        font-size: 72px;
      }
      h2 {
        font-size: 48px;
      }
    }
  }

  .caption {
    color: $ACCENT-COLOR;
    text-align: center;
    @include pc {
      font-size: 48px;
    }
  }

  .about {
    text-align: center;
  }
}

table {
  margin: 0 auto;
}
table,
td,
th {
  border: 1px #e5e5e5 solid;
  border-collapse: collapse;
}

th {
  @include pc {
    font-size: 32px;
  }

  @include sp {
    font-size: 20px;
  }
}

.date-access {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .date-zone {
    @include pc {
      width: 40%;
    }

    @include sp {
      width: 100vw;
    }
    background-color: $ACCENT-COLOR;
    h2 {
      font-size: 30px;
    }
    p {
      padding-left: 8px;
    }
  }

  .access-map {
    @include pc {
      width: 60%;
    }
    @include sp {
      width: 100vw;
    }
  }
}

.sponsor-content {
  background-color: $WHITE;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    width: 30%;
  }
}

.staff-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .staff {
    padding: 8px;

    @include sp {
      justify-content: flex-start;
      width: 100%;
    }
    a {
      color: $WHITE;
      text-decoration: none;
    }
    span.staff-sns-name {
      color: #a6a3a3;
    }

    img {
      width: 88px;
      height: 88px;
      border-radius: 20%;
      padding-right: 8px;
    }
    .staff-sns-link {
      padding: 4px;
    }

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

footer {
  padding-top: 24px;
  a {
    color: $WHITE;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid $WHITE;
    }
  }
  text-align: center;
}
